<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header class="flex justify-around py-4 items-center">
        <section>Logo</section>
        <ul class="flex space-x-3">
            <li>Services</li>
            <li>About</li>
            <li>Contact us</li>
        </ul>
        <button class="border border-black rounded-full p-4 text-white bg-black">sign in</button>
    </header>
  </body>
</html>