<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/recover.css">
</head>
<body>
    
    <form class="form">
        <h1>Recover password</h1>
        <section class="detail">
            <label for="email">Username</label>
            <input type="text" name="email" id="email" placeholder="Enter your Email">
        </section>
        

        <button>Reset password</button>

        <section class="opt">
            <p>Remember your password? <a href="login">Back to sign in</a></p>
        </section>
    </form>
</body>
</html>